<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.listner.Listnerex"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="jbktest.LoginTest"/>
      <class name="jbktest.UserTest"/>
      <class name="jbktest.DashboardTest"/>
      <class name="jbktest.UsefullinksTest"/>
      <class name="jbktest.OperatorTest"/>
      <class name="jbktest.DownloadTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
